	h1.boy_head{
		border-bottom: 3px solid brown;
		color: wheat;
	}

	span.boyspan{
		color:yellowgreen;
		padding-left: 10px;
	}

	table.table-dark {
		color: #fff;
    background-color: #212529;
	}

	.table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255,255,255,.05);
}

a.white-icon{
	color: white;
	padding-right: 15px;
}

/*.blurred-bg {
  background-image: url($blurred-img);
  background-repeat: no-repeat;
  @include background-size(cover);
  background-attachment: fixed;

  &.tinted {
    @include background-image(linear-gradient(0deg, rgba(255,255,255,0.2),rgba(255,255,255,0.2)),url($blurred-img));
  }
  &.shaded {
    @include background-image(linear-gradient(0deg, rgba(0,0,0,0.2),rgba(0,0,0,0.2)),url($blurred-img));
  }
}*/